{% if slides|length %}
    {% block slideshow_conteiner %}
        <div class="slideshow">
            {% block slideshow %}
                <div id="slides" class="slides">
                    <ul>
                        {% for slide in slides %}
                            {% if slide.image is defined and slide.image %}
                                <li class="slide">
                                    {% block slide %}
                                        {% block slide_link %}
                                            <a href="{{ slide.link }}" title="{{ slide.name }}">
                                                {% if preload %}
                                                    {% set size = liip_filter_data('slide_image').filters|first.size %}
                                                    <img class="preload" data-src="{{ slide.image|imagine_filter('slide_image') }}"
                                                        alt="{{ slide.name }}"
                                                        src="{{ asset('bundles/nitrastore/images/loading.gif') }}"
                                                        style="margin: {{ size.1 / 2 - 25 }}px {{ size.0 / 2 - 25 }}px"
                                                    />
                                                {% else %}
                                                    <img src="{{ slide.image|imagine_filter('slide_image') }}" alt="{{ slide.name }}" />
                                                {% endif %}
                                            </a>
                                        {% endblock slide_link %}

                                        {% block slide_description %}
                                            {% if (slide.description is defined) and slide.description %}
                                                <div class="slideshow_description">{{ slide.description|raw }}</div>
                                            {% endif %}
                                        {% endblock slide_description %}
                                    {% endblock slide %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% if controls and (slides|length > 1) %}
                    <a id="link-prev-thumbs" class="slide_link prev"></a>
                    <a id="link-next-thumbs" class="slide_link next"></a>
                {% endif %}
                {% if pager and (slides|length > 1) %}
                    <div id="pager" class="pager">
                        {% for slide in slides %}
                            <span class="pager_item">
                                {{- loop.index -}}
                            </span>
                        {% endfor %}
                    </div>
                {% endif %}
                {% block slideshow_script %}
                    <script type="text/javascript">
                        $(function() {
                            $('#slides').jCarouselLite({
                                {% if controls and (slides|length > 1) %}
                                    btnPrev: '.prev',
                                    btnNext: '.next',
                                {% endif %}
                                {% if pager and (slides|length > 1) %}
                                    btnGo: $('#pager span.pager_item'),
                                {% endif %}
                                speed:      {{ speed }},
                                auto:       {{ auto }},
                                visible:    1,
                                autoWidth:  {{ autoWidth|default(false) ? 'true' : 'false' }},
                                responsive: {{ responsive|default(false) ? 'true' : 'false' }},
                                circular:   {{ circular ? 'true' : 'false' }}
                            });
                        });
                    </script>
                {% endblock slideshow_script %}
            {% endblock slideshow %}
        </div>
    {% endblock slideshow_conteiner %}
{% endif %}